<mat-card class="ak-card">
  <ng-container *ngIf="cardIcon || cardTitle || cardSubTitle">
    <mat-card-header>
      <ng-container *ngIf="cardIcon">
        <mat-icon mat-card-avatar class="icon">{{ cardIcon }}</mat-icon>
      </ng-container>
      <ng-container *ngIf="cardTitle">
        <mat-card-title>{{ cardTitle }}</mat-card-title>
      </ng-container>
      <ng-container *ngIf="cardSubTitle">
        <mat-card-subtitle>{{ cardSubTitle }}</mat-card-subtitle>
      </ng-container>
    </mat-card-header>
  </ng-container>

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
