<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <app-ak-card
        cardTitle = "{{tile.title}}"
        cardSubTitle = "{{tile.subTitle}}"



        >
        <p>
          {{tile.contentText}}
          <img src="{{tile.imgLink}}" width="{{tile.imageWidth}}" height="{{tile.imageHeight}}" alt="">
          {{tile.imgLink}}


        </p>

        </app-ak-card>
    </mat-grid-tile>
  </mat-grid-list>

